.rahma{

    width: 50%;
    color: grey;
    margin-right:2%;
    }
.flex{
    display:flex ;
    justify-content:center;
    size: 50%;
       
    font-size:1.125rem;
       }
    
    .donation{
    width: 50%;
    color:white;
    border: radius 20px;
    padding: 25px;
    margin-right:3%;
    background-color:#8f00b3;
    }
    .make{
    
    }
    .volonteer{
width: 50%;
background-color: #8f00b3;
    }
    
    .dd{
        display:flex;
        line-height: 24px;
        padding: 1rem;
        justify-content:last baseline;
        
    }
    .let{
    width:70%;
    }
    .about{
    color: #8f00b3;
    display:flex;
    background-color:  #e599f8;;
    justify-content:right;
}
.tete{
   color:rgb(79, 79, 245);
   font-style: italic;
   size:30%;
   font-style: bold;
   width: 70%;
   height:30%;
   justify-content: left;
}
    
    .foto{
    height: 0%;
    }
.tt{


}

.pictures{

width:30%;
}
.SS{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.title{
color:#c966a3;;
font-size:5.125rem;
margin: 0;
padding:0;
text-align: center;
size:50%;
font-weight: 300

}
.fin{
    display:flex;
    background-color: #e599f8;
    justify-content:right;
}

#ed{
  background:rgb(171, 185, 189);
  margin-right:1%;
  max-width: 680px;
    height: 70%;
    margin: 0px;
    width: 462px;
    
}
.button{
color: #c966a3;
background-color:rgb(173, 233, 241);;
}
.dropbox{
background-color: #e599f8;

}
.show{
background-color:#e599f8;
}
.health{
margin-left:1%;
}























